<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img [src]="inItems.imagePath" alt="{{inItems.name}}" class="img-responsive" style="max-height: 300px">
        </div>

        <div class="col-xs-12">
            <h4>Cost: {{inItems.price | currency}}</h4>
            <br>
            <p>Total Reviews: {{inItems.reviewCounter}}</p>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>{{inItems.name}}</h1>
        </div>

    </div>
    <div class="row">
        <label><b>Details: </b></label>
        <br>
        <div class="col-xs-12">
            {{inItems.description}}
        </div>

    </div>
    <div class="row">
        <label><b>Reviews by users:</b></label>
        <br>
        <div class="col-xs-12">

            <ul class="list-group" *ngFor="let a of inItems.reviews">

                <li class="list-group-item">{{a}}</li>
                <br>
            </ul>
            
        </div>



    </div>
</div>